snippet edittex "Snippet for text field in and android app" !b

<EditText android:id="@+id/edit_message"android:layout_width="wrap_content"
android:layout_height="wrap_content"
android:hint="@string/edit_message" />
endsnippet

snippet strng "Add string text to user interface " !b
	<string name=" "> </string>
endsnippet

snippet butt "Add button" !b
<Button
	android:layout_width="wrap_content"
	android:layout_height="wrap_content"
	android:text="@string/button_send" />

endsnippet
